
.blog-container{
    display: flex;
    flex-direction: column;
    width:90%;
    margin:2rem auto;
    row-gap: 1.5rem;

}
.blog-header{
    background: linear-gradient(103.22deg, #7b14e8 -13.86%, #d74e05 99.55%), #FFFFFF;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
    
    
    font-family: 'Manrope';
    font-style: normal;
    
}
.blog-main{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
   
    
}
.blog-card-1{
display: flex;
 flex-direction: column;
 row-gap: 20px;
background: #042C54;
color: #fff;
font-family: 'Manrope';
font-style: normal;

}
.blog-card-1>.text-card-1{
 padding: 0.5rem 0.5rem;
}
.blog-card-1 > a{
    padding: 0.5rem 0.5rem;
}
.text-card-1 h1{
  font-size: 1.5rem;
}
.blog-card-2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
   
}

.blog-sm-card{

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    
    background: #042C54;
    color: #fff;
    font-family: 'Manrope';
font-style: normal;

}
.blog-sm-card>.text-con{
    padding: 0.5rem 0.5rem;
}
.blog-sm-card a{
    padding: 0.5rem 0.5rem;

}

 

.lg-image{
    background: 
    url("../../assets/blog01.png") center / cover no-repeat;
    width: 100%;
    height: 250px;

}
.sm-image-one{
    background: 
    url("../../assets/blog02.png") center / cover no-repeat;
    width: 100%;
height: 200px;
    
}
.sm-image-two{
    background: 
    url("../../assets/blog03.png") center / cover no-repeat;
    width: 100%;
height: 200px;
    
}
.sm-image-three{
    background: 
    url("../../assets/blog04.png") center / cover no-repeat;
    width: 100%;
height: 200px;

    
}
.sm-image-four{
        background: 
        url("../../assets/blog05.png") center / cover no-repeat;
        width: 100%;
height: 200px;
        
}

@media screen  and (min-width:1050px){
    
.blog-container{
    display:flex;

    flex-direction: column;
    row-gap: 3rem;
    width: 90%;
    margin: 2rem auto;

}
.blog-header{
    background: linear-gradient(103.22deg, #7b14e8 -13.86%, #d74e05 99.55%), #FFFFFF;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
    width: 701px;
    height: 150px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 75px;
    /* or 121% */
    
    letter-spacing: -0.04em;
}
.blog-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 3rem;
}
.blog-card-1{
display:flex;
flex-direction: column;
row-gap: 3rem;
width:45%;
background: #042C54;
color: #fff;
font-family: 'Manrope';
font-style: normal;
font-weight: 16px;
}
.blog-card-1>.text-card-1{
padding: 2rem 1.5rem;
}
.blog-card-1 > a{
padding-left: 1.5rem;
}
.text-card-1 h1{
 font-size: 20px;
}
.blog-card-2{
    display:flex;
flex-flow: row wrap;
width:60%;
row-gap: 20px;
column-gap:20px;
}

.blog-sm-card{
    
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    width:45% ;
    background: #042C54;
    color: #fff;
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
}
.blog-sm-card>.text-con{
    padding-left: 10px;
}
.blog-sm-card a{
    font-size: 14px;
    padding-left: 10px;

}

 

.lg-image{
    background: 
    url("../../assets/blog01.png") center / cover no-repeat;
    width:100%;
height: 280px;

}
.sm-image-one{
    background: 
    url("../../assets/blog02.png") center / cover no-repeat;
    width: 100%;
height: 130.47px;
    
}
.sm-image-two{
    background: 
    url("../../assets/blog03.png") center / cover no-repeat;
    width: 100%;
height: 130.47px;
    
}
.sm-image-three{
    background: 
    url("../../assets/blog04.png") center / cover no-repeat;
    width: 100%;
height: 130.47px;
    
}
.sm-image-four{
        background: 
        url("../../assets/blog05.png") center / cover no-repeat;
        width:100%;
height: 130.47px;
        
}
}